
# Config files
config.py
dev.env
prod.env

# Possible database files if using sqlite and not saving to a different directory
*.db
*.sqlite

# Log files if not saved to a different directory
*.log

# Docker-compose files
*.docker-compose.yml

# Backup data directory
backup/

# Virtual environment/Python stuff
.venv
*.pyc
*.pyo
__pycache__

# IDE stuff
*.iml
