"""
Config shared by all modules, copy to config.py and set values as appropriate.
"""


# Debug mode doesn't remove posts or message users, but will still report posts.
DEBUG_MODE = False


# Discord is used to receive one-way messages through webhooks.
DISCORD = {
    "webhook_feed": "https://discordapp.com/api/webhooks/example/somesecret",  # for new posts
    "webhook_notifications": "https://discordapp.com/api/webhooks/example2/anotherchannel"  # for front page summaries
}


REDDIT = {
    "auth": {
        "client_id": "something",
        "client_secret": "somethinglonger",
        "user_agent": "user agents are fun",
        "username": "ExampleRedditUser",
        "password": "verySecretPassword"
    },
    "subreddit": "test",
    "poll_interval": 60
}


LOGGING = {
    "file_path": "../bot.log",
    "log_level_file": 20,  # logging.INFO without importing it
    "log_level_console": 10  # logging.DEBUG
}


# Database connection string passed to sqlalchemy.
DB = {
    "connection": "postgresql://postgres:dontusethisinproduction@postgres-db-service:5432/r-anime"
}


# Used by the worker for processing new posts and comments.
AMQP = {
    "connection": "amqp://admin:anotherbadproductionpassword@rabbitmq-service:5672/r-anime"
}
