"""
Config shared by all modules, copy to config.py and set values as appropriate.
"""


DISCORD = {
    "webhook_new_posts": "https://discordapp.com/api/webhooks/example/somesecret",
    "webhook_frontpage": "https://discordapp.com/api/webhooks/example2/anotherchannel",
    "webhook_mod_log": "https://discordapp.com/api/webhooks/example2/anotherchannel",
    "webhook_sub_mentions": "https://discordapp.com/api/webhooks/example2/anotherchannel",
}


REDDIT = {
    "auth": {
        "client_id": "something",
        "client_secret": "somethinglonger",
        "user_agent": "user agents are fun",
        "username": "ExampleRedditUser",
        "password": "verySecretPassword"
    },
    "subreddit": "test",
    "poll_interval": 60
}


LOGGING = {
    "file_path": "../bot.log",
    "log_level_file": 20,  # logging.INFO without importing it
    "log_level_console": 10  # logging.DEBUG
}


# Database connection string passed to sqlalchemy, default is now postgres under docker but can be sqlite/mysql/etc.
DB = {
    "connection": "postgresql+psycopg2://postgres:samplepassword@modbot-db:5432/postgres"
}
